#MONGO_URI=mongodb+srv://yislaine:i49CjjumE2GuCO9D@cluster0.exmbru8.mongodb.net/?appName=Cluster0
JWT_SECRET=replace-me
MONGO_URI=mongodb+srv://yislaine:i49CjjumE2GuCO9D@cluster0.exmbru8.mongodb.net/media_dev?retryWrites=true&w=majority&appName=Cluster0"
NODE_ENV=development
PORT=3000
HTTPS_PORT=3443
